<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/> <!-- de esta forma añadimos los estilos css de bootstrap  -->
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:source="#{/webjars/jquery/jquery.min.js}"></script> <!-- no vamos a usar directamente jquery pero lo necesitamos para que funcione correctamente bootstrap -->
        <script th:source="#{/webjars/popper.js/umd/popper.min.js}"></script> <!-- no lo vamos a usar directamente pero lo usa bootstrap para sus componentes -->
        <script th:source="#{/webjars/bootstrap/js/bootstrap.min.js}"></script> 
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Titulo</h1>
        </header>
        
        <footer th:fragment="footer">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a> |
                <span> [[#{plantilla.pie-pagina}]] <a href="http://www.mediavida.com." target="_blank">Medaivida.com</a></span> <!-- al ponerlo así nos permite poner el link, si lo pusiesemos en el parrafo no  -->

                <form method="POST" th:action="@{/logout}">
                    <!-- vamos a mostrar que usuario hizo login y que rol tiene -->
                    <b>User: </b> <span sec:authentication="name">Usuario que hizo login</span>   |
                    <b> Roles: </b> <span sec:authentication="principal.authorities"></span>      |
                    
                    <a href="#" onclick="this.parentNode.submit();">Logout</a> <!-- llamamos al nodo padre que es el formulario -->
                </form>
            </div>
        </footer>
        
    </body>
</html>
