<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"> <!-- para poder manejar información de forma dinamica con thymeleaf -->
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <a th:href="@{/agregar}"> Crear Persona</a>
        <br/>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre </th>
                    <th>Apellido </th>
                    <th>Email </th>
                    <th>Teléfono </th>
                </tr>


                <tr th:each="persona : ${personas}"> <!-- así vamos iterando entre todas las personas que hay añadidas a la lista -->
                    <td th:text="${persona.nombre}" >Mostrar nombre</td> <!-- el valor que pongas en la etiqueta será recuperado por el valor que le estés pasando -->
                    <td th:text="${persona.apellido}" >Mostrar apellido</td>
                    <td th:text="${persona.email}" >Mostrar email</td>
                    <td th:text="${persona.telefono}" >Mostrar telefono</td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or  personas.empty}">
            La lista de personas está vacía
        </div>

    </body>
</html>
